meta(name='description', content='人物、雑誌、建物、家電製品。世の中のあらゆるものにはそれぞれの歴史があります。DECADEは、好きなものを年代とともに振り返ることのできる新しい画像検索サイトです。')
meta(name='keywords', content='年表, 年代記, クロニクル, 10年間, 過去')
meta(property='og:title', content='DECADE')
meta(property='og:type', content='website')
meta(property='og:url', content='http://decade.tokyo')
meta(property='og:image', content='http://static.tumblr.com/owbcywg/Sljnaqwl3/ogp.png')
meta(property='og:site_name', content='DECADE')
meta(property='og:description', content='人物、雑誌、建物、家電製品。世の中のあらゆるものにはそれぞれの歴史があります。DECADEは、好きなものを年代とともに振り返ることのできる新しい画像検索サイトです。')
meta(property="og:video" content="https://vimeo.com/104167339")
meta(property="og:video:height" content="360")
meta(property="og:video:width" content="640")
meta(property="og:video:type" content="application/x-shockwave-flash")
meta(name="twitter:card" content="player")
meta(name="twitter:title" content="DECADE")
meta(name="twitter:description" content="人物、雑誌、建物、家電製品。世の中のあらゆるものにはそれぞれの歴史があります。DECADEは、好きなものを年代とともに振り返ることのできる新しい画像検索サイトです。")
meta(name="twitter:player" content="https://vimeo.com/104167339")
meta(name="twitter:player:width" content="435")
meta(name="twitter:player:height" content="251")
meta(name="twitter:image:src" content="http://static.tumblr.com/owbcywg/Sljnaqwl3/ogp.png")
meta(name="twitter:domain" content="decade.tokyo")
