.tutorial{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 500px;
  margin-left: -240px;
  margin-top: -250px;
  text-align: center;
  z-index: $zFloat;

  .title{
    font-size: 96px;
  }
  .sentence{
    font-size: 28px;
    margin-top: 30px;
  }
  .arrow{
    position: relative;
    width: 70px;
    margin: 25px auto;
    cursor: pointer;
    @include single-transition(margin-top, 0.2s, ease, 0s);
    button{
      font-size: 20px;
      font-weight: bold;
    }
    &:after{
      position: absolute;
      top: 19px;
      left: 50%;
      margin-left: -26px;
      content: "";
      width: 55px;
      height: 50px;
      background: url("http://static.tumblr.com/owbcywg/vTSnaqwjz/arrow.png") no-repeat;
      background-size: 30px auto;
      background-position: 12px 15px;
    }
    &:hover{
      margin-top: 35px;
    }
  }
  .caution{
    display: none;
    font-size: 24px;
    margin-top: 80px;
  }
}
